@model ContactUpdateDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Admin/Contact/Index">İletişimler</a></li>
                    <li class="breadcrumb-item active">İletişim Güncelle</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">

                <h4 class="Contactd-title">İletişim Güncelle</h4>
                <p class="Contactd-subtitle mb-4">İletişim ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>

                <form method="post">
                    <div class="row">
                        <input type="hidden" asp-for="ContactId" />
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label>İletişim Adı</label>
                                <input type="text" class="form-control" asp-for="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning waves-effect waves-light"><i class="mdi mdi-update"></i> Güncelle</button>
                </form>
            </div> <!-- end Contactd-body-->
        </div> <!-- end Contactd-->
    </div> <!-- end col -->
</div>
<!-- end row-->
