@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_UILayoutNavBarComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutLoaderComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")
</body>
</html>
