<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    CarBook Admin
                </span>
            </a>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/Admin/Dashboard/Index" class="waves-effect"><i class="mdi mdi-monitor-dashboard"></i><span class="badge badge-pill badge-primary float-right"></span><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Admin/Statistic/Index" class="waves-effect"><i class="mdi mdi-chart-bar"></i><span class="badge badge-pill badge-primary float-right"></span><span>İstatistikler</span></a>
                </li>
                <li>
                    <a href="/Default/Index" class="waves-effect"><i class="mdi mdi-web"></i><span class="badge badge-pill badge-primary float-right"></span><span>Siteye Git</span></a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-bell"></i><span>Rezervasyon</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/Reservation/Index">Rezervasyonlar</a></li>
                        <li><a href="/Admin/ReservationStatus/Index">Rezervasyon Durumları</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-car-side"></i><span>Araçlar</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/Car/Index">Arabalar</a></li>
                        <li><a href="/Admin/Feature/Index">Araç Özellikleri</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Admin/Brand/Index" class="waves-effect"><i class="fas fa-business-time"></i><span class="badge badge-pill badge-primary float-right"></span><span>Markalar</span></a>
                </li>
                <li>
                    <a href="/Admin/Banner/UpdateBanner" class="waves-effect"><i class="fab fa-buysellads"></i><span class="badge badge-pill badge-primary float-right"></span><span>Banner</span></a>
                </li>
                <li>
                    <a href="/Admin/About/UpdateAbout" class="waves-effect"><i class="mdi mdi-information"></i><span class="badge badge-pill badge-primary float-right"></span><span>Hakkımızda</span></a>
                </li>
                <li>
                    <a href="/Admin/Author/Index" class="waves-effect"><i class="mdi mdi-pen"></i><span class="badge badge-pill badge-primary float-right"></span><span>Yazarlar</span></a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-blogger"></i><span>Blog</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/Blog/Index">Bloglar</a></li>
                        <li><a href="/Admin/Category/Index">Blog Kategorileri</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Admin/Pricing/Index" class="waves-effect"><i class="fas fa-dollar-sign"></i><span class="badge badge-pill badge-primary float-right"></span><span>Ödeme Türleri</span></a>
                </li>
                <li>
                    <a href="/Admin/Comment/Index" class="waves-effect"><i class="fas fa-comments"></i><span class="badge badge-pill badge-primary float-right"></span><span>Yorumlar</span></a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-message"></i><span>İletişim</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/Contact/Index">Mesajlar</a></li>
                        <li><a href="/Admin/ReservationStatus/Index">Mesaj Kategorileri</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Admin/FooterAddress/UpdateFooterAddress" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span class="badge badge-pill badge-primary float-right"></span><span>Alt Adres</span></a>
                </li>
                <li>
                    <a href="/Admin/Location/Index" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span class="badge badge-pill badge-primary float-right"></span><span>Lokasyonlar</span></a>
                </li>
                <li>
                    <a href="/Admin/Service/Index" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span class="badge badge-pill badge-primary float-right"></span><span>Hizmetler</span></a>
                </li>
                <li>
                    <a href="/Admin/SocialMedia/Index" class="waves-effect"><i class="mdi mdi-instagram"></i><span class="badge badge-pill badge-primary float-right"></span><span>Sosyal Medya</span></a>
                </li>
                <li>
                    <a href="/Admin/Testimonial/Index" class="waves-effect"><i class="mdi mdi-comment-account"></i><span class="badge badge-pill badge-primary float-right"></span><span>Referanslar</span></a>
                </li>
                <li>
                    <a href="/Admin/Tag/Index" class="waves-effect"><i class="mdi mdi-cloud-tags"></i><span class="badge badge-pill badge-primary float-right"></span><span>Etiket Bulutu</span></a>
                </li>
                <li>
                    <a href="/Admin/Setting/Index" class="waves-effect"><i class="mdi mdi-cogs"></i><span class="badge badge-pill badge-primary float-right"></span><span>Ayarlar</span></a>
                </li>
                <li>
                    <a href="/Login/LogOut" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span class="badge badge-pill badge-primary float-right"></span><span>Çıkış Yap</span></a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>

<!-- jQuery  -->
<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>

<!-- Morris Js-->
<script src="~/Admin/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="~/Admin/plugins/raphael/raphael.min.js"></script>

<!-- Morris Custom Js-->
<script src="~/Admin/vertical/assets/pages/dashboard-demo.js"></script>

<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>