@model List<CategoryListDto>
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        @foreach (var item in Model)
        {
            <li><a href="/Blog/BlogListForCategoryId/@item.CategoryId">@item.Name <span>(@item.BlogCount)</span></a></li>
        }      
    </div>
</div>