
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Dashboard/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        
        </div>
    </div>
</div>
@await Component.InvokeAsync("_DashboardStatisticComponentPartial")
<!-- end row -->

<div class="row">
    @await Component.InvokeAsync("_DashboardChart1ComponentPartial")
    @await Component.InvokeAsync("_DashboardChart2ComponentPartial")
    @await Component.InvokeAsync("_DashboardChart3ComponentPartial")
</div>
<!-- end row-->


<div class="row">
  
    @await Component.InvokeAsync("_DashboardCarPricingListComponentPartial")
    @await Component.InvokeAsync("_DashboardBlogListComponentPartial")
</div>
